require './<%= name %>'
describe <%= class_name %> do
  before do
  end

  describe '<%= class_name %>.solve' do
    it 'solve the problem' do
      expect(<%= class_name %>.solve()).to eq()
    end
  end

end
